<launch> 
    <!-- environment temperature Measurement Sensor -->    
    <node name="g5w1_1" pkg="component" type="g5w1_1" output="screen" />

    <param name="start" value="true" />

    <param name="frequency" value="1.3" /> <!-- 0.2 Hz  -->

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- Risk values for env thermometer -->
    <param name="HighRisk0" value="35,70" />
    <param name="MidRisk0" value="23,35" />
    <param name="LowRisk" value="15,23" />
    <param name="MidRisk1" value="-6,15" />
    <param name="HighRisk1" value="-50,-6" />

    <!-- accuracy in percentage -->
    <param name="accuracy" value="99" type="double" />

    <!-- instant recharge parameter-->
    <param name="instant_recharge" value="true" type="bool" />

</launch>